<ul class="nav nav-tabs">
	<li role="presentation" ui-sref-active="active"><a ui-sref="main.reports">Reports</a></li>
	<li role="presentation" ui-sref-active="active"><a ui-sref="main.students">Students</a></li>
	<li role="presentation" ui-sref-active="active"><a ui-sref="main.devices">Devices</a></li>
	<li role="presentation" ui-sref-active="active"><a ui-sref="main.maintenance">Maintenance</a></li>
	<li role="presentation" ui-sref-active="active"><a ui-sref="main.applications">Applications</a></li>
</ul>
<div ui-view class="pages"></div>